<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Apache.NMS" version="1.7.1" targetFramework="net472" />
  <package id="Apache.NMS.ActiveMQ" version="1.7.2" targetFramework="net472" />
  <package id="AsyncIO" version="0.1.69" targetFramework="net472" />
  <package id="NaCl.Net" version="0.1.13" targetFramework="net472" />
  <package id="NetMQ" version="4.0.1.7-pre" targetFramework="net472" />
  <package id="System.Buffers" version="4.4.0" targetFramework="net472" />
  <package id="System.Memory" version="4.5.3" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.4.0" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.3" targetFramework="net472" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net472" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net472" />
</packages>