<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="HelixToolkit" version="2015.1.715" targetFramework="net46" />
  <package id="HelixToolkit.Wpf" version="2015.1.715" targetFramework="net46" />
  <package id="Microsoft.Tpl.Dataflow" version="4.5.24" targetFramework="net46" />
  <package id="System.Collections.Immutable" version="1.4.0" targetFramework="net47" />
  <package id="System.Reactive" version="4.0.0-preview00001" targetFramework="net461" />
</packages>